.form-group .checkbox-inline {
    display: inline-block;
    margin-right: 10px;
}

#painelEventos {
    background-color: #45d7fc;
}

#painelProjetos {
    background-color: #45d7fc;
}

#painelCoffee {
    background-color: #45d7fc;
}

#painelLanding {
    background-color: #45d7fc;
}

#painelLogo {
    background-color: #45d7fc;
}

#painelConsultoria {
    background-color: #45d7fc;
}