.form-group .checkbox-inline {
    display: inline-block;
    margin-right: 10px;
}

#SolicitacaoEvento {
    background: linear-gradient(to right, #FF8290, #f2b705);
    color: #fff;
}

#headingSolicitante {
    background: linear-gradient(to right, #FF8290, #f2b705);
    color: #fff;
}

#headingSolicitacao {
    background: linear-gradient(to right, #FF8290, #f2b705);
    color: #fff;
}

#headingDetalhes {
    background: linear-gradient(to right, #FF8290, #f2b705);
    color: #fff;
}

#painelEventos {
    background: linear-gradient(to right, #ffa6b0, #f8dd40);
    color: #fff;
}

#painelProjetos {
    background: linear-gradient(to right, #ffa6b0, #f8dd40);
    color: #fff;
}

#painelCoffee {
    background: linear-gradient(to right, #ffa6b0, #f8dd40);
    color: #fff;
}

#painelLanding {
    background: linear-gradient(to right, #ffa6b0, #f8dd40);
    color: #fff;
}

#painelLogo {
    background: linear-gradient(to right, #ffa6b0, #f8dd40);
    color: #fff;
}

#painelConsultoria {
    background: linear-gradient(to right, #ffa6b0, #f8dd40);
    color: #fff
}

#painelImprensa {
    background: linear-gradient(to right, #ffa6b0, #f8dd40);
    color: #fff
}

#painelGrafica {
    background: linear-gradient(to right, #ffa6b0, #f8dd40);
    color: #fff
}

#addRateio {
    border: 3px solid rgba(0, 0, 0, 0);
    background-color:#ffda05;
    color: #fff
}

#addItem {
    border: 3px solid rgba(0, 0, 0, 0);
    background-color:#ffda05;
    color: #fff
}