.form-group .checkbox-inline {
    display: inline-block;
    margin-right: 10px;
}

#SolicitacaoEvento {
    background: linear-gradient(to right, #FF8290, #f2b705);
    color: #fff;
}

#headingSolicitante {
    background: linear-gradient(to right, #FF8290, #f2b705);
    color: #fff;
}

#headingSolicitacao {
    background: linear-gradient(to right, #FF8290, #f2b705);
    color: #fff;
}

#painelEventos {
    background-color:#f2b705;
    color: #fff;
}

#painelProjetos {
    background-color:#f2b705;
    color: #fff;
}

#painelCoffee {
    background-color:#f2b705;
    color: #fff
}

#painelLanding {
    background-color:#f2b705;
    color: #fff
}

#painelLogo {
    background-color:#f2b705;
    color: #fff
}

#painelConsultoria {
    background-color:#f2b705;
    color: #fff
}

#headingDetalhes {
    background-color:#FF8290;
    color: #fff;
}